doctype html
html(lang="en")
  head
    title Portfolio Lamr
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel="shortcut icon" href="img/icon-site.ico" type="image/x-icon")
    link(rel='stylesheet', href='style/animate.css')
    link(rel='stylesheet', href='style/main.css')
    script(src='./js/WOW-master/dist/wow.js')
    script.
      new WOW().init();

  body(data-spy="scroll" data-target="#navbar-scroll")

    #preloader.preloader
      .loader L
    header

      nav#navbar-scroll.navbar.navbar-dark.navbar-expand-md.fixed-top.text-white
        .container
          a.navbar-brand.text-white.m-2.m-md-0(href='#') Lamr
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#nav-toggler', aria-controls='nav-toggler', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #nav-toggler.collapse.navbar-collapse
            ul.navbar-nav.nav-pills.nav-fill.ml-auto
              li.nav-item
                a.nav-link.text-white.ml-1.pr-4.pl-4(href='#portfolio') Portfolio
              li.nav-item
                a.nav-link.text-white.ml-1.pr-4.pl-4(href='#about') About
              li.nav-item
                a.nav-link.text-white.ml-1.pr-4.pl-4(href='#contact') Contact


      section.intro.text-center.container-fluid.d-table.h-100
        .d-table-cell.align-middle
          .container
            span.intro-logo.d-inline-block.text-white.wow.bounceIn LAMR


    section#portfolio.container-fluid.mt-5.wow.fadeIn
      .container
        .text-center
          h2 Portfolio
          p Just my work
        .row.d-flex.justify-content-around.wow.fadeIn
          .card.col-md-4.text-center.p-0
            img.card-img-top(src='img/famous-people.png', alt='famous-people')
            .card-body
              .card-title
                h3
                  a.btn.btn-link(href='#', data-toggle='modal', data-target='#famousPeople') Famous People
          #famousPeople.modal.fade(aria-hidden='true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                .modal-header
                  h5.modal-title Famous People
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  #carouselFamousPeople.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      .carousel-item.active(data-interval='100')
                        img.d-block.w-100(src='img/Screenshot_8.png', alt='...')
                      .carousel-item(data-interval='100')
                        img.d-block.w-100(src='img/Screenshot_2.png', alt='...')
                      .carousel-item(data-interval='100')
                        img.d-block.w-100(src='img/Screenshot_3.png', alt='...')
                      .carousel-item(data-interval='100')
                        img.d-block.w-100(src='img/Screenshot_4.png', alt='...')
                    a.carousel-control-prev(href='#carouselFamousPeople', role='button', data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselFamousPeople', role='button', data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
                  p.pt-4
                    | Pellentesque sit amet ligula quam. Donec dictum magna id diam porta auctor. Morbi egestas purus eu ante pretium, aliquet faucibus est fringilla. In convallis maximus lorem id consectetur. Nulla nec interdum lorem, quis aliquam neque. Curabitur ultricies consequat aliquet. Cras sollicitudin vehicula nibh, in aliquet risus molestie non.
                  a.btn.btn-info.text-white.w-100 Go to site
          .card.col-md-4.text-center.p-0
            img.card-img-top(src='img/portfolio0.jpg', alt='PortfolioV0')
            .card-body
              .card-title
                h3
                  a.btn.btn-link(href='#', data-toggle='modal', data-target='#portfolioV0') Portfolio v0
          #portfolioV0.modal.fade(aria-hidden='true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                .modal-header
                  h5.modal-title Portfolio v0
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  #carouselPortfolioV0.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      .carousel-item.active(data-interval='100')
                        img.d-block.w-100(src='img/Screenshot_1.png', alt='...')
                      .carousel-item(data-interval='100')
                        img.d-block.w-100(src='img/Screenshot_6.png', alt='...')
                      .carousel-item(data-interval='100')
                        img.d-block.w-100(src='img/Screenshot_7.png', alt='...')
                    a.carousel-control-prev(href='#carouselPortfolioV0', role='button', data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselPortfolioV0', role='button', data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
                  p.pt-4
                    | Curabitur ornare sapien est, eget condimentum nisl maximus eu. Integer sed sapien sed erat efficitur luctus. Proin venenatis velit a nisl porttitor varius. In vestibulum ut mauris vel porttitor. Morbi ac augue at nunc commodo imperdiet consequat at nunc. Vivamus egestas dignissim tellus ut facilisis. Sed sapien erat, lacinia in porta id, hendrerit quis ipsum. Maecenas ipsum nisl, pulvinar quis vulputate vitae, bibendum non tellus. Ut posuere eget velit laoreet eleifend. Pellentesque ullamcorper vulputate hendrerit.
                  a.btn.btn-info.text-white.w-100 Go to site

    section#technology.container-fluid.wow.fadeIn
      h2.pt-5.mb-5.text-white.text-center Used technologies in projects
      .row.d-flex.justify-content-around.h-100

        .card.col-md-5.col-10.p-0.mt-5
          img.card-img-top(src='./img/gulp.png', alt='gulp')
          .card-body.d-flex.flex-column.justify-content-between
            h5.card-title Gulp
            p.card-text.
              Automate and enhance your workflow. I use plugins like <b>browser-sync</b>, <b>autoprefixer</b>, <b>gulp-sass</b>, <b>gulp-pug</b>, <b>gulp-postcss</b>, <b>gulp-htmlmin</b>, <b>gulp-uglify</b>, <b>gulp-csso</b>, <b>gulp-clean</b>, <b>gulp-imagemin</b>.
            a.btn.btn-dark.w-100(href='https://gulpjs.com/') Developers site

        .card.col-md-5.col-10.p-0.mt-5
          img.card-img-top(src='./img/bootstrap.jpg', alt='bootstrap')
          .card-body.d-flex.flex-column.justify-content-between
            h5.card-title Bootstrap
            p.card-text.
               Build responsive, mobile-first projects on the web with the world’s most popular front-end component library. Bootstrap is an open source toolkit for developing with HTML, CSS, and JS.
            a.btn.btn-dark.w-100(href='https://getbootstrap.com/') Developers site

        .card.col-md-5.col-10.p-0.mt-5
          img.card-img-top(src='./img/pug.jpg', alt='pug')
          .card-body.d-flex.flex-column.justify-content-between
            h5.card-title Pug
            p.card-text.
              HTML preprocessor and template engine.
            a.btn.btn-dark.w-100(href='https://pugjs.org/api/getting-started.html') Developers site

        .card.col-md-5.col-10.p-0.mt-5
          img.card-img-top(src='./img/sass.jpg', alt='sass')
          .card-body.d-flex.flex-column.justify-content-between
            h5.card-title Sass
            p.card-text.
              Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
            a.btn.btn-dark.w-100(href='https://sass-lang.com/') Developers site


        .card.col-md-5.col-10.p-0.mt-5
          img.card-img-top(src='./img/git(hub).jpg', alt='git and github')
          .card-body.d-flex.flex-column.justify-content-between
            h5.card-title Git with Github
            p.card-text.
              Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.
            button.btn.btn-dark.dropdown-toggle.w-100(type="button", id="forDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Developers site

            .dropdown-menu(aria-labelledby="forDropdown")
              a.dropdown-item(href="https://git-scm.com/") Git
              a.dropdown-item(href="https://github.com/") GitHub

        .card.col-md-5.col-10.p-0.mt-5
          img.card-img-top(src='./img/jquery.png', alt='jQuery')
          .card-body.d-flex.flex-column.justify-content-between
            h5.card-title jQuery
            p.card-text.
              jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.
            a.btn.btn-dark.w-100(href='https://jquery.com/') Developers site
        
        .card.col-md-5.col-10.p-0.mt-5
          img.card-img-top(src='./img/npm.jpg', alt='gulp')
          .card-body.d-flex.flex-column.justify-content-between
            h5.card-title NPM
            p.card-text.
              Essential JavaScript development tools that help you go to market faster and build powerful applications using modern open source code.
            a.btn.btn-dark.w-100(href='https://www.npmjs.com/') Developers site
            

    section#about.text-center.container-fluid.d-table.h-100
      .d-table-cell.align-middle
        .container
          img.avatar.mt-3.wow.zoomIn(src='img/avatar.jpg', alt='myAvatar')
          h2.wow.fadeIn About me
          p.wow.fadeIn.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin rutrum libero et dapibus. Duis rutrum, elit non egestas placerat, lectus libero posuere lectus, nec consequat sem massa eget dolor. Nulla maximus tristique nibh ut volutpat. Proin dapibus sapien lorem, eu iaculis est porttitor vitae. Cras ornare consectetur sollicitudin.

    section#contact.text-center.text-white.container-fluid.d-table.h-100.wow.fadeIn
      .d-table-cell.align-middle
        .container
          h2.pt-3.pt-md-0 Contact with me
          p You can contact me in the following ways:
          ul.list-inline.d-flex.flex-column.flex-md-row.justify-content-around
            li
              a#vk.btn.btn-outline-primary.btn-lg.text-white.mb-3.w-100(href='https://vk.com/id157921634') VK
            li
              a#github.btn.btn-outline-primary.btn-lg.text-white.mb-3.w-100(href='https://github.com/Lamr001') GitHub
            li
              button#gmail.btn.btn-outline-primary.btn-lg.text-white.mb-3.w-100(href='', data-toggle='tooltip', data-placement='bottom', title='denkamanet@gmail.com') Gmail
            li
              button#mail.btn.btn-outline-primary.btn-lg.text-white.mb-3.w-100(href='', data-toggle='tooltip', data-placement='bottom', title='denkamanet@mail.ru') Mail

    footer.container-fluid.bg-dark.wow.fadeIn
      .row.d-flex.text-white.pt-1
        ul.nav.nav-pills.col-md-6.col-12.flex-column.flex-md-row.text-center.m-0.p-0
          li.nav-item
            a.nav-link.text-white(href='#portfolio') Portfolio
          li.nav-item
            a.nav-link.text-white(href='#about') About
          li.nav-item
            a.nav-link.text-white(href='#contact') Contact

        #footerIntro.col-md-1.col-12.ml-auto.mt-md-0.mt-2.pr-md-2
          div LAMR




    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='js/main.js')
