@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  z-index: 2000;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader .loader {
    width: 150px;
    height: 150px;
    position: absolute;
    text-align: center;
    color: white;
    font-family: "Permanent Marker", cursive;
    font-size: 6rem;
    -webkit-animation-name: puls;
            animation-name: puls;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

.ready {
  opacity: 0;
  visibility: hidden; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 22px;
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5,
.navbar li > a,
footer ul {
  font-family: 'Righteous', cursive !important; }

.navbar .navbar-brand,
.intro-logo,
#footerIntro {
  font-family: "Permanent Marker", cursive; }

header {
  height: inherit; }

.navbar, .navbar li > a {
  transition: all 0.4s ease; }

li > a:hover, li > a:focus {
  background: rgba(255, 255, 255, 0.3) !important;
  transition: all 0.4s ease; }

.active {
  background: rgba(255, 255, 255, 0.3) !important;
  transition: all 0.4s ease; }

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/intro-img.jpg") no-repeat fixed center/cover; }

.intro-logo {
  font-size: 15vw; }

#portfolio, #about, #contact, #technology {
  min-height: 100%; }
  #portfolio > div, #about > div, #contact > div, #technology > div {
    min-height: 100%; }

.card {
  margin-bottom: 4rem; }

.carousel-inner img {
  max-height: 400px !important; }

.carousel, .card {
  box-shadow: 0 10px 25px !important; }

#technology {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-2.jpg") no-repeat fixed center/cover; }

#about p, .modal p {
  text-align: justify; }

.avatar {
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.45);
  margin: auto;
  display: block;
  max-width: 40%;
  height: auto;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5); }

#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-3.jpg") no-repeat fixed center/cover; }

#vk {
  border: 3px solid #5181B8 !important; }
  #vk:hover, #vk:focus {
    background-color: #5181B8 !important; }

#github {
  border: 3px solid #16191d !important; }
  #github:hover, #github:focus {
    background-color: #16191d !important; }

#gmail {
  border: 3px solid #DE5347 !important; }
  #gmail:hover, #gmail:focus {
    background-color: #DE5347 !important; }

#mail {
  border: 3px solid #025FF5 !important; }
  #mail:hover, #mail:focus {
    background: #025FF5 !important; }

.tooltip-inner {
  min-width: 280px; }

footer {
  min-height: 10%; }

#footerIntro {
  display: flex;
  justify-content: center;
  align-items: center; }

@-webkit-keyframes puls {
  from {
    color: white; }
  50% {
    color: #a6a6a6; }
  to {
    color: white; } }

@keyframes puls {
  from {
    color: white; }
  50% {
    color: #a6a6a6; }
  to {
    color: white; } }
