@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Faster+One");
html, body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5 {
  font-family: 'Righteous', cursive !important; }

header {
  height: inherit; }

.navbar, li > a {
  transition: all 0.4s ease; }

.navbar .navbar-brand {
  font-family: 'Righteous', cursive; }

li > a:hover, li > a:focus {
  background: rgba(255, 255, 255, 0.3) !important;
  transition: all 0.4s ease; }

.active {
  background: rgba(255, 255, 255, 0.3) !important;
  transition: all 0.4s ease; }

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/intro-img.jpg") no-repeat fixed center/cover; }

.intro-logo {
  font-family: 'Faster One', cursive;
  font-size: 15vw; }

#portfolio, #about, #contact {
  min-height: 100%; }
  #portfolio > div, #about > div, #contact > div {
    min-height: 100%; }

.card {
  margin-bottom: 4rem; }

.carousel-inner img {
  max-height: 400px !important; }

.carousel, .card {
  box-shadow: 0 10px 25px !important; }

.bg-2 > div {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Halo HD.jpg") no-repeat fixed center/cover; }

.box-progressSkill {
  margin-bottom: 10vh; }
  .box-progressSkill * {
    display: block !important; }

#about p, .modal p {
  text-align: justify; }

.avatar {
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.45);
  margin: auto;
  display: block;
  max-width: 40%;
  height: auto; }

#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-3.jpg") no-repeat fixed center/cover; }

#vk {
  border: 3px solid #5181B8 !important; }
  #vk:hover, #vk:focus {
    background-color: #5181B8 !important; }

#github {
  border: 3px solid #24292E !important; }
  #github:hover, #github:focus {
    background-color: #24292E !important; }

#gmail {
  border: 3px solid #DE5347 !important; }
  #gmail:hover, #gmail:focus {
    background-color: #DE5347 !important; }

#mail {
  border: 3px solid #025FF5 !important; }
  #mail:hover, #mail:focus {
    background: #025FF5 !important; }

.tooltip-inner {
  min-width: 280px; }

footer {
  min-height: 25%; }

#footerIntro {
  font-family: 'Faster One', cursive;
  font-size: 9vw; }

@media (min-width: 790px) {
  .avatar {
    max-width: 25%; } }
